.luke_travel_container {
   
    background-image: url("../images/the_black_hole_2.webp");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */ 
    overflow: auto; 

}