.villain-container {
    position: relative; /* Ensure the container is positioned */
    z-index: 10; /* Set the z-index to a value higher than other elements */
}
.luke_fireball_img_2 {
    height: 20px;
    width: 20px;
    position: absolute; /* Ensure the villain element is positioned absolutely */
    top: 0; /* Adjust top, left, right, bottom as necessary */
    left: 0;
    z-index: 2; /* Set the z-index for the villain element */ 

}
#luke_villain_img_2 {
    height: 50px;
    width: 50px;
    position: absolute; /* Ensure the villain element is positioned absolutely */
    top: 0; /* Adjust top, left, right, bottom as necessary */
    left: 0;
    z-index: 2; /* Set the z-index for the villain element */ 

}