.full_lab {
    height: 100%;
    width: 100%;
    overflow: auto;
}
/* Customize the scrollbar */
.full_lab::-webkit-scrollbar {
    width: .5px;
}
.full_lab::-webkit-scrollbar-thumb {
    background-color: yellow;
}
.full_lab::-webkit-scrollbar-track {
    background-color: red;
}
.lab_background {
    /* background-image: url('../images/stars_twinkle.gif'); */
    /* background-image: url('../images/stars_field.gif'); */
    /* background-image: url('../images/stars_moving_east.gif'); */
    background-image: url('../images/lukeborgs_lab.png');
    background-size: cover;
    background-position: bottom;
    /* background-position: center; */
    /* background-position: fixed; */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */ 
    /* position: relative; */
}
.lab_links {
    height: 85%;
    width: 85%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    margin-top: 20%;
}
@media only screen and (max-width: 987px) {
    .lab_links {
        margin-top: 45%; 
    }
}
@media only screen and (max-width: 600px) {
    .lab_links {
        margin-top: 110%; 
    }
}
.game_img_container {
    /* background-color: red; */
    position: absolute;
    top: 1%;
    left: 93%;
    height: 100px;
    width: 100px;
}
@media only screen and (max-width: 1300px) {
    .game_img_container {
        /* margin-top: 68%; */
        top: 1%;
        left: 91%;
        height: 75px;
        width: 75px;  
    }
}
@media only screen and (max-width: 900px) {
    .game_img_container {
        /* margin-top: 68%; */
        top: 1%;
        left: 89%;
        height: 50px;
        width: 50px;  
    }
}
@media only screen and (max-width: 550px) {
    .game_img_container {
        /* margin-top: 68%; */
        top: 1%;
        left: 89%;
        height: 50px;
        width: 50px;  
    }
}
#game_img {
    /* background-color: blue; */
    height: 100%;
    width: 100%;
}
#game_img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
  
#game_img:hover {
    transform: scale(1.3); /* Adjust the scale factor for the desired growth */
}
.luke_img_1_container {
    /* background-color: blue; */
    margin: 0;
    height: 750px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    
}
@media only screen and (max-width: 987px) {
    .luke_img_1_container {
        height: 500px;
        width: 350px;
        margin: 0;
    }
}
@media only screen and (max-width: 600px) {
    .luke_img_1_container {
        height: 375px;
        width: 250px;
        margin: 0;
    }
}
.luke_img_1 {
    /* background-color: blueviolet; */
    height: 90%;
    width: 70%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.luke_img_1:hover {
    transform: scale(1.01); /* Adjust the scale factor for the desired growth */
    filter: brightness(130%);
}
.fire_ball_img {
    /* background-color: blueviolet; */
    height: 12%;
    width: 11%;
    z-index: 10;
    /* margin-left: 50%; */
    margin-bottom: 77%;
    /* margin-right: 20%; */
    margin-left: -17%;
}
.menu {
    /* margin-top: 10%; */
    margin-right: 200px;
    /* background-color: red; */
    height: 500px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
@media only screen and (max-width: 987px) {
    .menu {
        margin: 0;
        height: 450px;
        width: 125px;
    }
}
@media only screen and (max-width: 600px) {
    .menu {
        /* margin-top: 20%; */
        margin: 0;
        height: 300px;
        width: 100px;
    }
}
.menu > * {
    margin-top: 100px; 
}
@media only screen and (max-width: 600px) {
    .menu > * {
        margin-top: 35px;  
    }
}
#title_img_7 {
    /* border: 5px solid black; */
    height: 99%;
    width: 99%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
#title_img_7:hover {
    transform: scale(1.3); /* Adjust the scale factor for the desired growth */
    filter: brightness(150%);
}
#title_img_8 {
    height: 99%;
    width: 99%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;   
}
#title_img_8:hover {
    transform: scale(1.3); /* Adjust the scale factor for the desired growth */
    filter: brightness(150%);
}
#title_img_9 {
    height: 99%;
    width: 99%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;    
}
#title_img_9:hover {
    transform: scale(1.3); /* Adjust the scale factor for the desired growth */
    filter: brightness(150%);
}
.spaceship_container {
    background-color: blue;
    margin-top: 20%;
}
.back_container {

}
.audio_player_container {
    /* margin-top: 20px; */
    /* background-color: yellow; */
    margin-left: 90%;
    margin-bottom: 10%;

    /* position: fixed; */
}
.buggy_img_gif_container {
    /* position: fixed; */
    margin-bottom: 50%;
    margin-left: 15%;
    z-index: 5;
    height: 20%;
    width: 15%;
    /* background-color: blueviolet; */
    /* Make sure this container is properly positioned within the layout */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.buggy_img_gif {
    height: 90%;
    width: 95%;
    /* background-color: yellow; */
    z-index: 2;
}
.fire_ball_img_2 {
    width: 10%;
    height: 15%;
    z-index: 3;
    transform: scaleX(-1); 
    /* margin-top: 0%; */
    margin-right: 0%;
    margin-bottom: 20%;
    margin-top: -74%;
    /* background-color: blue; */

}
.flip-horizontal {
    transform: scaleX(-1); 
}
