/* Target the scrollbar */
.matt_photo_container::-webkit-scrollbar {
    height: .1px;
    width: .1px; /* Width of the scrollbar */
}
  
  /* Track - the area behind the scrollbar */
.matt_photo_container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
  
  /* Handle - the draggable scrolling element */
.matt_photo_container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
}
  
  /* Handle on hover */
.matt_photo_container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

.photos_background {
    background-image: url('../images/stars_twinkle.gif');
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matt_photo_container {
    /* background-color: blue; */
    height: 100vh; /* Adjust the height to accommodate the scrollbar */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Add scrollbar for vertical overflow */
       
}
.paul_imgs {
    width: 700px; /* Ensure images don't exceed the width of their container */
    height: 700px; /* Ensure images don't exceed the height of their container */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 850px) {
    .paul_imgs {

        height: 350px;
        width: 350px;
    }
}

.paul_imgs:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired growth */
}

.title_12_img {
    margin-top: 15%;
}

