.matt_game_over_background {
    
     /* background-image: url("../images/the_black_hole_8.gif"); */
     background-image: url("../images/matt_lose_6.webp");
     /* background-position: center; */
    
     background-size: cover;
     background-position: top;
     background-repeat: no-repeat;
     height: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center; /* Vertical centering */
     justify-content: center; /* Horizontal centering */ 
     overflow: auto;  
}
/* @media only screen and (max-width: 550px) {
    .matt_game_over_background {
        width: 550px;
        height: 100vh;
    }
} */
.matt_center_piece {
    /* background-color: blue; */
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */ 
    /* overflow: auto;  */
}
h2 {
    color: red;
}
p {
    color: red;
    font-weight: 600; 
}
p2 {
    color: yellow;
    font-weight: 600; 
}
#title_img_11 {
    /* border: 5px solid black; */
    margin-top: 30%;
    height: 20%;
    width: 99%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
#title_img_11:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired growth */
    filter: brightness(150%);
}